<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<%= form_tag(movies_path, method: :get) do %>
  <%= text_field_tag :q, @search_text,
        placeholder: "Search by title" %>

  <%= submit_tag "Search" %>
<% end %>

<%= link_to 'New Movie', new_movie_path %>
<%= paginate @movies %>
<div class="movie_list">
  <% @movies.each do |movie| %>
    <div class="movie">
      <h3> <%= link_to movie.title, movie_path(movie.id) %></h3>
      <div class="rows">
        <div class="row">
          <label>Release date: </label>
          <div><%= movie.release_date %> </div>
        </div>
        <div class="row">
          <label>Genres</label>
          <div><%= movie.genre_list %></div>
        </div>
        <div class="row">
          <label>Link Imdb</label>
          <span><%= movie.imdb_link %></span>
        </div>
      </div>
      <div class="storyline">
        <%= movie.storyline %>
      </div>
      <div class="actions">
        <%= link_to 'Edit', edit_movie_path(movie) %>
        <%= link_to 'Destroy', movie_path(movie.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @movies %>

