<p id="notice"><%= notice %></p>

<div class="movie">

  <h1><%= @movie.title %></h1>

  <p>
    <strong>Storyline:</strong>
    <%= @movie.storyline %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= @movie.release_date %>
  </p>

  <p>
    <strong>Genres:</strong>
    <%= @movie.genre_list %>
  </p>

  <p>
    <strong>Imdb link:</strong>
    <%= @movie.imdb_link %>
  </p>

  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
</div>
